<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Agregar Miembro</h4>
  </div>
  <div class="modal-body">
    <form name="addMemberForm" novalidate>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="add_member">Usuario</label>
            <select class="form-control selectpicker" id="add_member" ng-model="member" ng-options="user.nickname for user in availableUsers track by user.id"></select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save(member)">Agregar</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
  </div>
</div>
