<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a ui-sref="home" class="al-logo clearfix"><img alt="logo" src="assets/img/logo.png" /><span>Pro</span>elio</a>

  <div class="user-profile clearfix">
    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'Avatar' | profilePicture )}}">
      </a>
      <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <li><a ui-sref="profile"><i class="fa fa-user"></i>Perfil</a></li>
        <!-- <li><a href><i class="fa fa-cog"></i>Settings</a></li> -->
        <li><a href class="signout" ng-click="doLogout()"><i class="fa fa-power-off"></i>Logout</a></li>
      </ul>
    </div>
    <!-- <msg-center></msg-center> -->
  </div>
</div>
