<div class="row">
  <div class="col-md-12">
    <div ba-panel ba-panel-class="with-scroll" ng-show="!loadingData.status && loadingData.success">
      <div users-table></div>
    </div>
    <div ba-panel ba-panel-class="with-scroll" ng-show="loadingData.status">
      <span us-spinner><h3>Cargando...</h3></span>
    </div>
  </div>
</div>
