<div class="content-top clearfix">
  <h1 class="al-title">{{ activePageTitle }}</h1>

  <!-- <ul class="breadcrumb al-breadcrumb">
    <li>
      <a href="#/dashboard">Home</a></li>
    <li>{{ activePageTitle }}</li>
  </ul> -->
</div>
