<div class="row">
  <div class="col-md-12">
    <div class="dynamic-grid row" angular-grid="pics" grid-width="300" gutter-size="10" angular-grid-id="gallery" refresh-on-img-load="true" ng-show="!loadingData.status && loadingData.success">
      <div data-ng-repeat="pic in pics" class="grid">
        <div ba-panel ba-panel-title="{{pic.name}} | {{pic.date | date:'mediumDate'}}">
          <img ng-src="{{pic.url}}" class="grid-img" />
        </div>
      </div>
    </div>
    <div ba-panel ba-panel-class="with-scroll" ng-show="loadingData.status">
      <span us-spinner><h3>Cargando...</h3></span>
    </div>
  </div>
</div>
