<div class="recovery-block">
  <div class="recovery-header">
    <div class="logo">
      <img alt="logo" src="assets/img/logo.png" />
    </div>
  </div>
  <div class="recovery-body">
    <form name="recoveryForm" class="form-horizontal" ng-submit="doRecovery()" novalidate>
      <div class="form-group">
        <label for="username_email" class="col-sm-12 control-label">USUARIO O CORREO ELECTRÓNICO</label>
        <div class="col-sm-12">
          <input type="text" name="username_email" id="username_email" class="form-control" placeholder="USUARIO O CORREO ELECTRÓNICO" ng-model="recoveryData" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-default" ng-disabled="isRecoveryButtonDisabled || recoveryForm.$submitted">
            <span ng-hide="isRecoveryButtonDisabled">ENVIAR</span>
            <span ng-show="isRecoveryButtonDisabled">ENVIAR <i class="fa fa-spinner fa-spin"></i></span>
          </button>
          <a href ui-sref="login" class="forgot-pass">Regresar</a>
        </div>
      </div>
    </form>
  </div>
</div>
