<div class="row pie-charts">
  <div class="pie-chart-item-container" ng-repeat="chart in charts">
    <div ba-panel>
      <div class="pie-chart-item">
        <div class="chart" data-percent="{{ ::chart.perc }}"><span class="percent"></span></div>
        <div class="description">
          <div>{{ ::chart.description }}</div>
          <div class="description-stats">{{ ::chart.stats }}</div>
        </div>
        <i class="chart-icon fa fa-{{ ::chart.icon }}"></i>
      </div>
    </div>
  </div>
</div>
