<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Agregar Usuario</h4>
  </div>
  <div class="modal-body">
    <form name="addUserForm" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="add_user_fullName">Nombre</label>
            <input type="text" class="form-control" id="add_user_fullName" ng-model="user.fullName" placeholder="Nombre">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="add_user_nickname">Nickname</label>
            <input type="text" class="form-control" id="add_user_nickname" ng-model="user.nickname" placeholder="Nickname">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="add_user_role">Rol</label>
            <select class="form-control selectpicker" id="add_user_role" ng-model="user.role" ng-options="role.name for role in roles track by role.id"></select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="add_user_email">Email</label>
            <input type="email" class="form-control" id="add_user_email" ng-model="user.email" placeholder="Email">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save(user)">Agregar</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
  </div>
</div>
