<div class="sketch-htmlobjects" id="canvas-htmlobjects"></div>

<div id="bd-wrapper" ng-controller="CanvasControls">

  <div class="sketch-wrapper" id="canvas-wrapper">
    <div id="canvas-controls" class="sketch-status">
      <div id="complexity" class="complexity">
        Objetos en el lienzo:
        <span class="input">{{ canvas.complexity() }}</span>
      </div>

      <div id="canvas-background">
        <label for="canvas-background-picker">Color del lienzo:</label>
        <input id="picker-bg-sketch" class="colorpick" type="text" bind-value-to="canvasBgColor">
      </div>

      <input class="sketch-height" id="canvas-height" value="700" type="number" />

      <button id="btn-guardar-lienzo">
        <i class="icon-save"></i>
        <span>Guardar lienzo</span>
      </button>
                              <!-- <button id="btn-ver-lienzo" style="display: none;">
        <i class="icon-eye"></i>
        <span>Ver Lienzo</span>
      </button> -->
      <!-- <div>
        <button class="btn btn-success" id="rasterize" ng-click="rasterize()">
          Imagen
        </button>
        <button class="btn btn-success" id="rasterize-svg" ng-click="rasterizeSVG()">
          SVG
        </button>
        <button class="btn btn-success" id="rasterize-json" ng-click="rasterizeJSON()">
          JSON
        </button>
      </div> -->
      <button ui-sref="canvases">
        <i class="icon-back"></i>
        <span>Volver a lienzos</span>
      </button>

      <div class="logo" ui-sref="home"></div>
    </div>
    <div class="sketch-panel top" object-buttons-enabled="getSelected()" ng-click="maybeLoadShape($event)">
      <button class="btn btn-object-action" id="remove-selected"
        ng-click="removeSelected()">
        <i class="icon-close"></i>
        <span class="label">Eliminar</span>
      </button>
      <button class="btn btn-lock btn-object-action"
        ng-click="setHorizontalLock(!getHorizontalLock())"
        ng-class="{'btn-inverse': getHorizontalLock()}">
        <i ng-class="{'icon-lock-open': getHorizontalLock(), 'icon-lock': !getHorizontalLock()}"></i>
        <span class="label" ng-show="getHorizontalLock()">Desbloquear</span>
                                      <span class="label" ng-show="!getHorizontalLock()">Bloquear</span>
      </button>
    </div>

    <canvas id="canvas" width="700" height="700"></canvas>

    <div class="sketch-panel tools right sketch-panel-sidebar">
      <div class="seek">
        <label for="opacity">Opacidad: </label>
        <input value="100" type="range" bind-value-to="opacity">
      </div>
      <div class="color" ng-show="!getLine()">
        <label for="color">Color: </label>
        <!-- <input type="color" style="width:40px" bind-value-to="fill"> -->
        <input id="picker-obj-color" class="colorpick" type="text" bind-value-to="fill">
      </div>
                              <div class="color" ng-show="getLine()">
        <label for="color">Color: </label>
        <input id="picker-obj-color-stroke" class="colorpick" type="text" bind-value-to="strokeColor">
      </div>

      <!-- TEXT CONTROLS -->
      <div id="text-wrapper" ng-show="getText()" class="sketch-textcontrols">
        <div id="text-controls-additional" class="format">
          <button type="button" class="btn btn-object-action"
            ng-click="toggleBold()"
            ng-class="{'btn-inverse': isBold()}">
            <i class="icon-format-bold"></i>
          </button>
          <button type="button" class="btn btn-object-action" id="text-cmd-italic"
            ng-click="toggleItalic()"
            ng-class="{'btn-inverse': isItalic()}">
            <i class="icon-format-ital"></i>
          </button>
            <button type="button" class="btn btn-object-action" id="text-cmd-underline"
            ng-click="toggleUnderline()"
            ng-class="{'btn-inverse': isUnderline()}">
            <i class="icon-format-underline"></i>
          </button>
          <button type="button" class="btn btn-object-action" id="text-cmd-linethrough"
            ng-click="toggleLinethrough()"
            ng-class="{'btn-inverse': isLinethrough()}">
            <i class="icon-format-strikethrough"></i>
          </button>
                                              <!--button type="button" class="btn btn-object-action" id="text-cmd-bullet"
            ng-click="toggleLinethrough()"
            ng-class="{'btn-inverse': isLinethrough()}">
            <i class="icon-format-list-bulleted"></i>
          </button>
                                              <button type="button" class="btn btn-object-action" id="text-cmd-number"
            ng-click="toggleLinethrough()"
            ng-class="{'btn-inverse': isLinethrough()}">
            <i class="icon-format-list-numbered"></i>
          </button-->
        </div>
        <textarea id="textpreview" class="text" bind-value-to="text" rows="5"></textarea>

        <div id="text-controls" class="font">
          <label for="font-family">Fuente:</label>
          <select id="font-family" class="btn-object-action" bind-value-to="fontFamily">
            <option value="arial">Arial</option>
            <option value="helvetica" selected>Helvetica</option>
            <option value="myriad pro">Myriad Pro</option>
            <option value="cronos">Cronos</option>
                                                      <option value="cronospro">Cronos Pro</option>
                                                      <option value="cronosprocaption">Cronos Pro Caption</option>
                                                      <option value="cronosprodisplay">Cronos Pro Display</option>
            <!-- <option value="delicious">Delicious</option>
            <option value="verdana">Verdana</option>
            <option value="georgia">Georgia</option>
            <option value="courier">Courier</option>
            <option value="comic sans ms">Comic Sans MS</option>
            <option value="impact">Impact</option>
            <option value="monaco">Monaco</option>
            <option value="optima">Optima</option>
            <option value="hoefler text">Hoefler Text</option>
            <option value="plaster">Plaster</option>
            <option value="engagement">Engagement</option> -->
          </select>
          <br>
          <label for="text-align">Alineación de Texto:</label>
          <select id="text-align" class="btn-object-action" bind-value-to="textAlign">
            <option value="Left">Izquierda</option>
            <option value="Center">Centro</option>
            <option value="Right">Derecha</option>
            <option value="Justify">Justificar</option>
          </select>
          <!--div>
            <label for="text-bg-color">Color de fondo:</label>
            <input id="picker-bg-text" class="colorpick" type="text" bind-value-to="bgColor">
          </div-->
          <div>
            <label for="text-lines-bg-color">Color de Fondo del Texto:</label>
            <input type="text" value="" id="picker-bg-text" size="10" class="colorpick"
            bind-value-to="textBgColor">
          </div>
          <div>
            <label for="text-stroke-color">Color de Línea (Contorno):</label>
            <!-- <input type="color" value="" id="text-stroke-color" class="btn-object-action"
            bind-value-to="strokeColor"> -->
            <input id="picker-stroke-text" class="colorpick" type="text" bind-value-to="strokeColor">
          </div>
          <div>
            <label for="text-stroke-width">Ancho de Línea (Contorno):</label>
            <input type="number" value="1" min="1" max="5" id="text-stroke-width" class="btn-object-action"
            bind-value-to="strokeWidth">
          </div>
          <div>
            <label for="text-font-size">Tamaño de Fuente:</label>
            <input type="number" value="" min="1" max="120" step="1" id="text-font-size" class="btn-object-action"
            bind-value-to="fontSize">
          </div>
          <!--div>
            <label for="text-line-height">Alto de línea:</label>
            <input type="number" value="" min="0" max="10" step="0.1" id="text-line-height" class="btn-object-action"
            bind-value-to="lineHeight">
          </div-->
        </div>
      </div>
      <!-- TEXT CONTROLS -->
    </div>
    <!-- <div id="color-opacity-controls" ng-show="canvas.getActiveObject()"></div> -->
                      <!-- SKETCH CONTROLS -->
                      <div class="sketch-panel sketch-panel-sidebar">
                          <ul>
                              <li><button id="drawing-mode" class="btn btn-info"
                                      ng-click="setFreeDrawingMode(!getFreeDrawingMode())"
                                      ng-class="{'btn-inverse': getFreeDrawingMode()}">
                                      <i class="{{ getFreeDrawingMode() ? 'icon-block' : 'icon-brush' }}"></i>
                                      <span class="label">{{ getFreeDrawingMode() ? 'Mano alzada' : 'Mano alzada' }}</span>
                              </button></li>
                              <li><button id="add-rect" type="button" class="btn rect" ng-click="addRect()">
                                      <i class="icon-aspect-ratio"></i>
                                      <span class="label">Rectángulo</span>
                              </button></li>
                              <li><button id="add-circle" type="button" class="btn circle" ng-click="addCircle()">
                                      <i class="icon-panorama-fisheye"></i>
                                      <span class="label">Círculo</span>
                              </button></li>
                              <li><button id="add-triangle" type="button" class="btn triangle" ng-click="addTriangle()">
                                      <i class="icon-details"></i>
                                      <span class="label">Triángulo</span>
                              </button></li>
                              <li><button id="add-line" type="button" class="btn line" ng-click="addLine()">
                                      <i class="icon-blur-off"></i>
                                      <span class="label">Línea</span>
                              </button></li>
                              <li><button id="add-polygon" type="button" class="btn polygon" ng-click="addPolygon()">
                                      <i class="icon-share"></i>
                                      <span class="label">Polígono</span>
                              </button></li>
                              <li><button id="add-text" class="btn" ng-click="addText()">
                                      <i class="icon-format-color-text"></i>
                                      <span class="label">Texto</span>
                              </button></li>
                              <li><button id="add-image" class="btn btn-danger clear" ng-click="addMultimediaImage()">
                                      <i class="icon-photo-library"></i>
                                      <span class="label">Imágen</span>
                              </button></li>
                              <li><button id="add-video" class="btn btn-danger clear" ng-click="addMultimediaVideo()">
                                      <i class="icon-video-collection"></i>
                                      <span class="label">Video</span>
                              </button></li>
                              <li><button id="sketch-clear" class="btn btn-danger clear" ng-click="confirmClear()">
                                      <i class="icon-delete"></i>
                                      <span class="label">Limpiar Lienzo</span>
                              </button></li>
                          </ul>
                      </div>
                      <!-- SKETCH CONTROLS -->
  </div>
</div>

<!-- BLOCK UI -->
<div class="block-ui"></div>
      <div class="block-ui" id="loader">
  <div class="spinner">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>
</div>
<!-- BLOCK UI -->

<!-- MODALS -->
<div class="sketch-configuration modal" id="modal-guardar-lienzo">
  <div class="header">
    <h2>¿Desea guardar el lienzo?</h2>
    <span class="close">
      <i class="icon-close"></i>
    </span>
  </div>
  <form id="guardar-lienzo" enctype="multipart/form-data">
    <div>
      <label>Nombre del Lienzo *</label>
      <input type="text" name="nombre" class="text" />
    </div>
    <div>
      <label>Palabras Clave</label>
      <input type="text" name="keywords" class="text" placeholder="tigo, movil, etc" />
    </div>
    <div>
      <label>Descripción</label>
      <input type="text" name="descripcion" class="text" />
    </div>
    <div>
      <label>Categorías *</label>
      <select name="cats" multiple="" class="chosen" id="sketch-categorias"></select>
    </div>
    <div class="footer">
      <button type="reset" class="no">Cancelar</button>
      <button type="submit" class="ok"><i class="icon-check"></i> Guardar</button>
    </div>
  </form>
</div>

<div class="sketch-multimedia modal" id="modal-multimedia">
  <div class="header">
    <h2>Selecciona el archivo que deseas insertar</h2>
    <span class="close">
      <i class="icon-close"></i>
    </span>
  </div>
  <div class="inner">
    <ul class="multimedia"></ul>
  </div>
  <div class="footer">
    <button class="no">Cancelar</button>
    <button class="ok"><i class="icon-add"></i> Agregar</button>
  </div>
</div>
<!-- MODALS -->
<script type="text/javascript">
  $.noConflict(true);
</script>
<script src="assets/resources/js/jquery.js"></script>
<script src="assets/resources/js/colpick.js"></script>
<script src="assets/resources/js/chosen.jquery.js"></script>
<script src="assets/resources/js/mousetrap.js"></script>
<script src="assets/resources/js/font_definitions.js"></script>
<script src="assets/resources/js/paster.js"></script>
<script src="assets/resources/js/mousewheel.js"></script>
<script src="assets/resources/js/fabric.js"></script>
<script src="assets/resources/js/utils.js"></script>
<script src="assets/resources/js/jquery.selection.js"></script>
<script src="assets/resources/js/jquery.noty.js"></script>
<script src="assets/resources/js/wizard.js"></script>
