html {
  &.wizard-layout {
    input, select, textarea {
      color: initial;
    }
    body {
      background-color: #F0F3F4;
      background-repeat: repeat-x repeat-y;
      box-sizing: border-box;
      font-family: "Roboto", sans-serif;
      font-size: 0;
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    body.light {
      background-color: #fff !important;
      background-image: none !important;
    }
    footer {
      bottom: 10px;
      color: #fff;
      font-family: "Roboto", sans-serif;
      font-size: 0px;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      footer {
        font-size: 16px;
      }
    }
    header {
      background-color: #00377b;
      background-image: -webkit-linear-gradient(top, #00377b 0%, #060822 100%);
      background-image: -moz-linear-gradient(top, #00377b 0%, #060822 100%);
      background-image: -ms-linear-gradient(top, #00377b 0%, #060822 100%);
      background-image: -o-linear-gradient(top, #00377b 0%, #060822 100%);
      background-image: linear-gradient(top, #00377b 0%, #060822 100%);
      box-sizing: border-box;
      height: 60px;
      position: relative;
      width: 100%;
      z-index: 3;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      header {
        height: 40px;
      }
    }
    header.blurred {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -ms-filter: blur(10px);
      -o-filter: blur(10px);
      filter: blur(10px);
    }
    header .logo {
      background: url("../images/logo_white.png") center no-repeat;
      background-size: contain;
      height: 90%;
      left: 50%;
      margin-left: -100px;
      position: absolute;
      top: 5%;
      width: 200px;
    }
    header .menu {
      color: #fff;
      cursor: pointer;
      font-size: 40px;
      left: 14px;
      position: absolute;
      top: 14px;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      header .menu {
        font-size: 24px;
        top: 10px;
      }
    }
    header .menu .badge {
      background: #f00;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      color: #fff;
      font-size: 0.5em;
      line-height: 1em;
      padding: 0.2em;
      position: absolute;
      right: -0.5em;
      top: -0.25em;
      width: 1em;
    }
    h1,
    h2,
    h3 {
      font-weight: bold;
      margin: 0;
      padding: 1em;
    }
    html {
      height: 100%;
      width: 100%;
    }
    nav {
      background: rgba(0,55,123,0.65);
      box-sizing: border-box;
      display: none;
      height: 100%;
      left: 0;
      padding: 80px 20px;
      position: absolute;
      top: 0;
      width: 340px;
      z-index: 2;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      nav {
        background: rgba(255,255,255,0.9);
        width: 100%;
      }
    }
    nav.active {
      display: block;
    }
    nav.blurred {
      -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      -ms-filter: blur(10px);
      -o-filter: blur(10px);
      filter: blur(10px);
    }
    nav ul {
      margin: 0;
      padding: 0;
    }
    nav li {
      border-bottom: 1px solid #fff;
      color: #fff;
      cursor: pointer;
      display: block;
      font-size: 20px;
      margin: 0;
      padding: 0.5em;
      position: relative;
      text-align: left;
      -webkit-transition: all ease-in 0.25s;
      -moz-transition: all ease-in 0.25s;
      -ms-transition: all ease-in 0.25s;
      -o-transition: all ease-in 0.25s;
      transition: all ease-in 0.25s;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      nav li {
        border-bottom-color: #333;
        color: #333;
        font-size: 18px;
        text-align: center;
      }
    }
    nav li:hover {
      padding-left: 1.25em;
    }
    nav li:last-child {
      border-bottom: none !important;
    }
    nav li .badge {
      background: #f00;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      color: #fff;
      font-size: 1em;
      line-height: 1em;
      padding: 0.2em;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0.3em;
      width: 1em;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      nav li .badge {
        left: 0;
        right: auto;
      }
    }
    #canvas {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
    }
    #bd-wrapper {
      font-size: 14px;
    }
    .block-ui {
      background: rgba(255,255,255,0.5);
      display: none;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 9999;
    }
    .block-ui.active {
      -webkit-animation: appear 0.25s 1 linear;
      -moz-animation: appear 0.25s 1 linear;
      -ms-animation: appear 0.25s 1 linear;
      -o-animation: appear 0.25s 1 linear;
      animation: appear 0.25s 1 linear;
      display: block;
    }
    .block-ui .spinner {
      height: 40px;
      left: 50%;
      margin-left: -20px;
      margin-top: -20px;
      position: absolute;
      top: 50%;
      width: 40px;
    }
    .block-ui .spinner .sk-cube-grid {
      margin: 0 auto !important;
    }
    .modal {
      background: #fff;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
      -moz-box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
      -ms-box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
      -o-box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
      box-shadow: 2px 2px 15px rgba(0,0,0,0.5);
      display: none;
      height: 400px;
      left: 50%;
      margin-left: -250px;
      margin-top: -200px;
      opacity: 0;
      position: fixed;
      top: 50%;
      width: 500px;
      z-index: 999;
      overflow: initial;
      &:before {
        display: none;
      }
    }
    .modal.active {
      -webkit-animation: showAppear 0.25s ease-in-out;
      -moz-animation: showAppear 0.25s ease-in-out;
      -ms-animation: showAppear 0.25s ease-in-out;
      -o-animation: showAppear 0.25s ease-in-out;
      animation: showAppear 0.25s ease-in-out;
      display: block;
      opacity: 1;
    }
    .modal form {
      padding: 25px;
    }
    .modal form >div {
      padding: 10px 0;
    }
    .modal form label {
      color: #000;
      display: inline-block;
      font-size: 18px;
      width: 180px;
    }
    .modal form label:after {
      content: ":";
    }
    .modal form .chosen-container-multi {
      width: 230px !important;
    }
    .modal form .text {
      background: #fff;
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.75);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,0.75);
      -ms-box-shadow: 0 0 5px rgba(0,0,0,0.75);
      -o-box-shadow: 0 0 5px rgba(0,0,0,0.75);
      box-shadow: 0 0 5px rgba(0,0,0,0.75);
      box-sizing: border-box;
      color: #000;
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      outline: none;
      padding: 0.5em 1em;
      width: 230px;
    }
    .modal h2 {
      background: #00377b;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      -ms-border-radius: 5px 5px 0 0;
      -o-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      color: #fff;
      display: block;
      font-size: 20px;
      line-height: 0.5em;
      padding: 1em;
      text-align: center;
    }
    .modal .close {
      background: #fff;
      border-radius: 50%;
      color: #00377b;
      cursor: pointer;
      display: block;
      font-size: 20px;
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .modal .footer {
      background: #eaeaea;
      bottom: 0;
      -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.25) inset;
      -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.25) inset;
      -ms-box-shadow: 0 2px 6px rgba(0,0,0,0.25) inset;
      -o-box-shadow: 0 2px 6px rgba(0,0,0,0.25) inset;
      box-shadow: 0 2px 6px rgba(0,0,0,0.25) inset;
      box-sizing: border-box;
      left: 0;
      padding: 15px;
      position: absolute;
      text-align: center;
      width: 100%;
    }
    .modal .footer button {
      background: #44c8f5;
      border: none;
      -webkit-border-radius: 0.3em;
      -moz-border-radius: 0.3em;
      -ms-border-radius: 0.3em;
      -o-border-radius: 0.3em;
      border-radius: 0.3em;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 18px;
      line-height: 1em;
      margin: 0 1em;
      outline: none;
      padding: 0.5em 1em;
    }
    .modal .footer button.no {
      background: #000;
    }
    .modal .inner {
      height: 280px;
      overflow-y: auto;
    }
    .sketch-controls {
      background: none;
      box-sizing: border-box;
      height: 100%;
      padding: 1%;
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
    }
    .sketch-htmlobjects {
      display: none;
    }
    .sketch-multimedia {
      font-size: 0;
      height: 580px;
      margin-top: -290px;
    }
    .sketch-multimedia ul {
      margin: 0;
      padding: 0;
    }
    .sketch-multimedia ul li {
      -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
      -ms-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
      -o-box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.5);
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      margin: 10px 5%;
      opacity: 0.75;
      padding: 5px;
      position: relative;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      width: 40%;
    }
    .sketch-multimedia ul li:hover {
      -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -ms-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -o-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    }
    .sketch-multimedia ul li.active {
      -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -ms-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -o-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      opacity: 1;
    }
    .sketch-multimedia ul li.active:after {
      background: #44c8f5;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -ms-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      -o-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
      color: #fff;
      content: "\e8a6";
      font-family: "materiald";
      font-size: 16px;
      line-height: 1em;
      padding: 0.5em;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      width: 1em;
    }
    .sketch-multimedia ul li img {
      height: 100%;
      width: 100%;
    }
    .sketch-multimedia .inner {
      height: 460px;
    }
    .sketch-panel {
      background: #1C2B36;
      border: none;
      border-radius: 0;
      color: #fff;
      height: 600px;
      left: 0px;
      position: fixed;
      right: auto;
      text-align: center;
      top: 100px;
      width: 74px;
      z-index: 99;
    }
    .sketch-panel.right {
      left: auto;
      right: 0;
    }
    .sketch-panel.right button {
      display: inline-block;
    }
    .sketch-panel.tools {
      text-align: left;
      width: 240px;
    }
    .sketch-panel.tools label {
      display: inline-block;
      width: 60px;
    }
    .sketch-panel.tools .color {
      margin: 5px 20px;
      padding: 5px 0;
    }
    .sketch-panel.tools .colorpick {
      border: 2px solid #fff;
      -webkit-border-radius: 0.25em;
      -moz-border-radius: 0.25em;
      -ms-border-radius: 0.25em;
      -o-border-radius: 0.25em;
      border-radius: 0.25em;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      margin-left: 5px;
      outline: none;
      padding: 0.25em 0.5em;
      vertical-align: middle;
      width: 80px;
    }
    .sketch-panel.tools .seek {
      background: rgba(0,0,0,0.25);
      padding: 10px 20px;
    }
    .sketch-panel.top {
      background: #1C2B36;
      border-radius: 0;
      height: 60px;
      left: 0;
      padding: 5px 10px;
      text-align: left;
      top: 40px;
      width: 100%;
    }
    .sketch-panel.top button {
      display: inline-block;
      margin: 0 0.1em;
    }
    .sketch-panel button {
      background: rgba(0,0,0,0);
      border: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      color: rgba(255,255,255,0.8);
      cursor: pointer;
      display: block;
      font-size: 32px;
      line-height: 1em;
      margin: 0.2em auto;
      padding: 1px 6px;
      height: initial;
      opacity: 1;
    }
    .sketch-panel button:disabled {
      cursor: block;
      opacity: 0.5;
    }
    .sketch-panel button:hover {
      background: rgba(0,0,0,0.5);
      -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
      -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
      -ms-box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
      -o-box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
      box-shadow: 1px 1px 4px rgba(0,0,0,0.25);
    }
    .sketch-panel button .label {
      display: block;
      font-size: 10px;
      line-height: 1em;
      white-space: initial;
      padding: 0;
      font-weight: normal;
      top: 0px;
    }
    .sketch-status {
      background: #1C2B36;
      box-sizing: border-box;
      color: #fff;
      font-size: 12px;
      height: 40px;
      left: 0;
      padding: 0 2em;
      position: fixed;
      text-align: left;
      top: 0;
      width: 100%;
      z-index: 99;
    }
    .sketch-status button {
      background: rgba(0,0,0,0.5);
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      line-height: 1em;
      margin: 0 1em;
      padding: 0.5em;
      vertical-align: middle;
    }
    .sketch-status button span {
      font-size: 0.75em;
    }
    .sketch-status div {
      display: inline-block;
      margin: 0.75em;
      vertical-align: middle;
    }
    .sketch-status .colorpick {
      border: 2px solid #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      cursor: pointer;
      display: inline-block;
      font-size: 0;
      height: 16px;
      margin-left: 5px;
      outline: none;
      vertical-align: middle;
      width: 16px;
    }
    .sketch-status .input {
      background: rgba(0,0,0,0.25);
      border: 1px solid rgba(0,0,0,0.5);
      color: #fff;
      display: inline-block;
      margin-left: 0.25em;
      padding: 0.25em 0.75em;
      text-align: center;
      width: 2em;
    }
    .sketch-status .logo {
      background: url("/assets/img/logo.png") center no-repeat;
      background-size: contain;
      height: 80%;
      margin: 5px 1em;
      position: absolute;
      right: 0;
      top: 0;
      width: 12em;
    }
    .sketch-status .text {
      outline: none;
    }
    .sketch-textcontrols {
      border-top: 1px solid rgba(255,255,255,0.25);
      font-size: 14px;
      margin-top: 1em;
    }
    .sketch-textcontrols label {
      display: block !important;
      padding: 0.25em 0 0.5em;
      width: auto !important;
    }
    .sketch-textcontrols .font {
      padding: 10px;
    }
    .sketch-textcontrols .format {
      background: rgba(0,0,0,0.25);
      text-align: center;
    }
    .sketch-textcontrols .format button {
      font-size: 18px;
    }
    .sketch-textcontrols .text {
      border: 0;
      box-sizing: border-box;
      outline: none;
      padding: 1em;
      resize: none;
      width: 100%;
    }
    .sketch-wrapper {
      box-sizing: border-box;
      height: 100%;
      left: 0;
      overflow-y: auto;
      padding: 130px 250px 30px 100px;
      position: fixed;
      text-align: center;
      top: 0;
      width: 100%;
    }
    .sketch-wrapper .canvas-container {
      height: 600px;
      margin: 0 auto;
      width: 700px;
    }
    @-moz-keyframes showAppear {
      from {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
      }
      to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    @-webkit-keyframes showAppear {
      from {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
      }
      to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    @-o-keyframes showAppear {
      from {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
      }
      to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    @keyframes showAppear {
      from {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
      }
      to {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
      }
    }
    @-moz-keyframes showLeft {
      from {
        left: -100px;
        opacity: 0;
      }
      to {
        left: 0px;
        opacity: 1;
      }
    }
    @-webkit-keyframes showLeft {
      from {
        left: -100px;
        opacity: 0;
      }
      to {
        left: 0px;
        opacity: 1;
      }
    }
    @-o-keyframes showLeft {
      from {
        left: -100px;
        opacity: 0;
      }
      to {
        left: 0px;
        opacity: 1;
      }
    }
    @keyframes showLeft {
      from {
        left: -100px;
        opacity: 0;
      }
      to {
        left: 0px;
        opacity: 1;
      }
    }
    @-moz-keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-webkit-keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @-o-keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes appear {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 20px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
    }
    .thumbnail .caption {
        padding: 9px;
        color: #333;
        text-align: center;
    }
    .caption h3 {
        font-size: 20px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .sketch-panel ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    #canvas-controls, .sketch-panel.top {
        z-index: 100;
    }
    .sketch-panel-sidebar {
        position: absolute;
        height: 100%;
        z-index: 50;
    }
  }
}
