$text-color: #ffffff;

html {
  &.recovery-layout {
    min-height: 520px;
    height: 100%;

    body {
      @include main-background();
      height: 100%;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      @include placeholderStyle($text-color, 0.6);
    }
  }

  .recovery-main {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .recovery-block {
    @media (max-width: 570px) {
      margin: 0 15px;
      padding: 40px 20px;
    }
    width: 540px;
    margin: 0 auto;
    border-radius: 5px;
    @include bg-translucent-dark(0.85);
    color: #fff;
    padding: 40px;
    h1 {
      font-weight: $font-light;
      margin-bottom: 28px;
      text-align: center;
    }
    a {
      text-decoration: none;
      outline: none;
      transition: all linear 0.5s;
      color: $primary;
      &:hover {
        color: $primary-dark;
      }
    }

    .recovery-header {
      .logo {
        max-width: 200px;
        margin: 0 auto;
        @media (max-width: 570px) {
          max-width: 150px;
        }
        img {
          width: 100%;
        }
      }
      .message {
        margin-top: 30px;
        opacity: 1;
        transition: all linear 0.5s;
        &.ng-hide {
          opacity: 0;
        }
        p {
          display: inline-block;
          margin-bottom: 0;
          padding : 10px;
          border-radius: 5px;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }

    .recovery-body {
      margin-top: 30px;
      .form-group {
        margin-bottom: 12px;
        .control-label {
          text-align: inherit;
          color: $text-color;
        }
        .form-control {
          @include placeholderStyle($text-color, 0.9);
          background-color: rgba(0, 0, 0, .4);
          border-radius: 5px;
          color: $text-color;
        }
        button {
          &.btn {
            transform: none;
            color: #ffffff;
          }
        }
        a {
          &.forgot-pass {
            display: block;
            text-align: right;
            float: right;
            z-index: 2;
            position: relative;
          }
        }
      }
    }
  }
}
