$text-color: #ffffff;

html {
  &.user-layout {
    body {
      > .user-main {
        .al-main {
          margin-left: 0;
          padding: 66px 0 34px 0;
          min-height: 500px;
          .al-content {
            padding: 8px 40px;
          }
        }
      }
    }
  }
}
