<div class="login-block">
  <div class="login-header">
    <div class="logo">
      <img alt="logo" src="assets/img/logo.png" />
    </div>
    <div ng-show="message && !loginForm.$dirty" class="text-center message">
        <p>{{message}}</p>
    </div>
  </div>
  <div class="login-body">
    <form name="loginForm" class="form-horizontal" ng-submit="doLogin()">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">USUARIO</label>
        <div class="col-sm-9">
          <input type="text" name="username" class="form-control" placeholder="USUARIO" ng-model="loginData.username">
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">CONTRASEÑA</label>
        <div class="col-sm-9">
          <input type="password" name="password" class="form-control" placeholder="CONTRASEÑA" ng-model="loginData.password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default" ng-disabled="isLoginButtonDisabled || loginForm.$submitted">
            <span ng-hide="isLoginButtonDisabled">LOGIN</span>
            <span ng-show="isLoginButtonDisabled">LOGIN <i class="fa fa-spinner fa-spin"></i></span>
          </button>
          <a href ui-sref="recovery" class="forgot-pass">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </form>
  </div>
</div>
