amarillo = #FFCB05
azul = #00377B
celeste = #44C8F5

vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

animation()
	vendor("animation", arguments)

border-radius()
	vendor("border-radius", arguments)

box-shadow()
	vendor("box-shadow", arguments)

filter()
	vendor("filter", arguments)

text-shadow()
	vendor("text-shadow", arguments)

transition()
	vendor("transition", arguments)

transform()
	vendor("transform", arguments)

transform-origin()
	vendor("transform-origin", arguments)

user-select()
	vendor("user-select", arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	
@font-face
	font-family Cronos
	font-style normal
	font-weight normal
	src url(fonts/cronos.otf)

@font-face
	font-family Cronos
	font-style italic
	font-weight normal
	src url(fonts/cronos_italic.otf)

@font-face
	font-family Cronos
	font-style normal
	font-weight lighter
	src url(fonts/cronos_light.otf)

@font-face
	font-family Cronos
	font-style normal
	font-weight bold
	src url(fonts/cronospro.otf)

@font-face
	font-family CronosPro
	font-style normal
	font-weight normal
	src url(fonts/cronospro.otf)

@font-face
	font-family ZenzaiItacha
	font-style normal
	font-weight normal
	src url(fonts/Zenzai Itacha.ttf)

@keyframes showLeft
	from
		left -100px
		opacity 0
	to
		left 0px
		opacity 1

@keyframes showTop
	from
		top -100px
		opacity 0
	to
		top 0px
		opacity 1

@keyframes appear
	from
		opacity 0
	to
		opacity 1

body
	background-color blue
	background-image url("../images/bg.png")
	background-repeat repeat-x repeat-y
	box-sizing border-box
	font-family "Cronos", sans-serif
	font-size 0
	height 100%
	margin 0
	padding 0
	width 100%
	
	&.light
		background-color white !important
		background-image none !important

footer
	bottom 10px
	color white
	font-family "Cronos", sans-serif
	font-size 0px
	left 0
	position absolute
	text-align center
	width 100%

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		font-size 16px

header
	background-linear-gradient(top, azul, 0%, #060822, 100%)
	box-sizing border-box
	height 60px
	position relative
	width 100%
	z-index 3

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		height 40px
		
	&.blurred
		filter( blur(10px) )

	.logo
		background url("../images/logo_white.png") center no-repeat
		background-size contain
		height 90%
		left 50%
		margin-left -100px
		position absolute
		top 5%
		width 200px

	.menu, .search
		color white
		cursor pointer
		font-size 40px
		left 14px
		position absolute
		top 14px

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			font-size 24px
			top 10px

		.badge
			background red
			border-radius( 50% )
			color white
			font-size 0.5em
			line-height 1em
			padding 0.2em
			position absolute
			right -0.5em
			text-align center
			top -0.25em
			width 1em

	.search
		left auto
		right 14px
	
h1, h2, h3
	font-weight bold
	margin 0
	padding 1em
	
html
	height 100%
	width 100%
	
nav
	background rgba(azul, 0.8)
	box-sizing border-box
	display none
	height 100%
	left 0
	padding 80px 20px
	position absolute
	top 0
	width 340px
	z-index 2
	
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		background rgba(white, 0.9)
		width 100%

		&.active
			animation( appear 0.25s 1 linear !important )
		
	&.active
		animation( showLeft 0.25s 1 linear )
		display block
		
	&.blurred
		filter( blur(10px) )

	ul
		margin 0
		padding 0

	li
		border-bottom 1px solid white
		color white
		cursor pointer
		display block
		font-size 20px
		margin 0
		padding 0.5em
		position relative
		text-align left
		transition all ease-in 0.25s
		
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			border-bottom-color #333
			color #333
			font-size 18px
			text-align center
			
		&:hover
			padding-left 1.25em

		&:last-child
			border-bottom none !important

		.badge
			background red
			border-radius( 50% )
			color white
			font-size 1em
			line-height 1em
			padding 0.2em
			position absolute
			right 0
			text-align center
			top 0.3em
			width 1em
			
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				left 0
				right auto

.block-ui
	background rgba(255,255,255,0.5)
	display none
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index 9999
	
	&.active
		animation( appear 0.25s 1 linear )
		display block

	.spinner
		height 40px
		left 50%
		margin-left -20px
		margin-top -20px
		position absolute
		top 50%
		width 40px

		.sk-cube-grid
			margin 0 auto !important

.notifications
	height 0
	left 0
	position fixed
	top 0
	width 100%
	z-index 11

	.warning
		animation( showTop 0.25s 1 linear )
		background amarillo
		color white
		font-size 16px
		padding 1em 2.25em 1em 1em
		position relative
		text-align justify

		&:after
			background rgba(black, 0.5)
			border-radius( 50% )
			color white
			content "\e8a9"
			font-family "materiald"
			font-size 14px
			line-height 1em
			margin-top -0.75em
			padding 0.25em
			position absolute
			right 5px
			top 50%

.popup
	background rgba(white,0.95)
	cursor pointer
	display none
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index 10
	
	&.active
		display block

	&.sugerencia
		.message
			margin-left -150px
			width 300px
	
	footer
		bottom 5%
		left 0
		position absolute
		width 100%
		
		button
			background celeste
			border none
			border-radius(5px)
			color white
			font-family "CronosPro", sans-serif
			font-size 22px
			line-height 1em
			margin 10px 10%
			padding 0.4em 0.25em
			width 80%
		
		.tap
			color azul
			display block
			font-size 14px
			line-height 1em
			text-align center
	
	.embajador
		background url("../images/embajador.png") center no-repeat
		background-size contain
		left 50%
		height 240px
		margin-left -110px
		margin-top -110px
		position absolute
		top 50%
		width 120px
		
		&:after
			background rgba(black,0.75)
			border-radius(50%)
			bottom 1.5%
			content 'shadow'
			filter( blur(5px) )
			height 3%
			left 3%
			position absolute
			width 70%
			z-index -1
	
	.message
		height 50px
		left 50%
		margin-left -25px
		margin-top -125px
		position absolute
		top 50%
		width 150px
		
		.big, .min
			color azul
			display block
			font-family "CronosPro", sans-serif
			font-size 24px
			line-height 1em
			text-align center
			
		.min
			font-family "Cronos", sans-serif
			font-size 14px

.quiz
	box-sizing border-box
	display none
	height 100%
	padding-top 60px
	position absolute
	top 0
	width 100%
	
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		padding-top 40px
		
	&.active
		display block
		
	&.blurred
		filter( blur(10px) )
	
	form
		margin-top 20px
		padding 0 10px
		
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			max-height 300px
			overflow-x hidden
			overflow-y auto
		
		.checkbox, .radio
			font-family "Cronos", sans-serif
			font-size 20px
			margin 0.5em
			
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				font-size 18px
			
			&:hover
				color azul
				
			input
				display none
				
			input:checked ~ span
				color azul
				
				&:before
					font-size 16px
					
			label
				cursor pointer
				display block
				
			span
				&:before
					border 3px solid amarillo
					content '\e8a6'
					display inline-block
					font-family "materiald"
					font-size 0px
					font-weight bold
					height 16px
					line-height 14px
					margin-right 10px
					text-align center
					vertical-align middle
					width 16px

		.question
			display none
			margin-bottom 25px
			
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				display none
				margin-bottom 0
			
			&.active
				display block
			
			.number
				color amarillo
				display block
				font-family "CronosPro", sans-serif
				font-size 16px
				
				@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
					font-size 12px
				
			.reply
				color #555
				padding-top 10px
				
			.title
				color #333
				display block
				font-family "CronosPro", sans-serif
				font-size 22px
				line-height 1.25em
				margin 0
				padding 0 0.25em 0.25em
				
				@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
					font-size 20px
				
		.radio
			input:checked ~ span
				color azul
				
				&:before
					font-size 36px
					
			span
				&:before
					border-radius( 50% )
					content '•'
					font-family "Cronos", sans-serif
					font-weight normal
					
		.text
			border 3px solid amarillo
			border-top none !important
			box-sizing border-box
			color #333
			display block
			font-family "Chronos", sans-serif
			font-size 18px
			line-height 1em
			outline none
			padding 0.75em
			margin 1em 1.5%
			width 97%
			resize none
			
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				font-size 16px
				margin 2em 3%
				padding 1em
				width 94%
	
	footer
		bottom 0px
		font-family "Cronos", sans-serif
		font-size 0px
		margin 0
		position absolute
		top auto
	
		.next
			background azul
			border none
			border-radius( 5px )
			box-sizing border-box
			color white
			cursor pointer
			display block
			font-family "Cronos", sans-serif
			font-size 20px
			line-height 1em
			margin 5%
			text-align center
			padding 0.5em 1em
			width 90%
			
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				display block

	h2
		color azul
		font-family "Cronos", sans-serif
		font-size 22px
		line-height 1em
		margin 0
		padding 0
		
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			font-size 16px

	h3
		color #666
		font-family "Cronos", sans-serif
		font-size 16px
		line-height 1em
		margin 0
		padding 0
		
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			font-size 10px
	
	header
		background white
		border-bottom 1px solid azul
		height auto
		padding 10px
		z-index auto
		
		.icon
			color azul
			float left
			font-size 32px
			margin-right 0.35em
			
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				font-size 24px

.searchbar
	background #060822
	box-sizing border-box
	display none
	height 40px
	padding 10px
	position absolute
	top 60px
	width 100%
	z-index 9

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		top 40px

	&.active
		animation( appear 0.25s 1 linear !important )
		display block

	.submit
		display none

	.text
		background white
		border none
		border-radius( 0.3em )
		box-sizing border-box
		font-size 14px
		padding 3px 0.5em
		width 100%

.sketch-htmlobjects
	display none;

.sketch-play-video
	background amarillo
	border 0
	border-radius(50%)
	bottom 5px
	color white
	font-size 14px
	line-height 1em
	padding 0.25em
	position fixed
	right 5px
	z-index 9

	&:before
		content '\e6bb'
		font-family "materiald"

	&.active:before
		content '\e6b8'

.springboard
	box-sizing border-box
	display none
	font-size 0
	margin 50px auto 0
	transition all ease-in 0.25s
	width 90%

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		margin-top 40px
		
	&.active
		display block

	&.blurred
		filter( blur(10px) )

	.breadcrumb
		background celeste
		box-sizing border-box
		color white
		display none
		left 0
		margin 0
		overflow-x auto
		padding 8px
		position absolute
		top 60px
		width 100%

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			top 40px

		&.active
			display block

		li
			cursor pointer
			display inline-block
			font-size 16px
			margin 0 0.2em 0

			&:after
				color amarillo
				content ">"
				padding-left 0.15em

			&:last-child:after
				content ""

	.btn-sugerencia
		background celeste
		border none
		border-radius(5px)
		color white
		font-family "CronosPro", sans-serif
		font-size 16px
		line-height 1em
		margin 1em 0 0
		padding 0.4em 0.25em
		width 100%

	.button
		cursor pointer
		display inline-block
		margin 0 0 30px
		text-align center
		vertical-align top
		width 50%

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			margin-bottom 15px

		.icon
			background white
			border-radius( 50% )
			height 120px
			margin 0 auto 10px
			position relative
			transition all ease-in 0.25s
			width 120px

			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				height 80px
				margin-bottom 5px
				width 80px

			&:hover
				box-shadow( 0 0 25px rgba(white, 0.5) )

				i
					font-size 85px

				img
					height 85px
					margin-left -43px
					margin-top -43px
					width 85px

			&.blue
				background azul !important

				i
					color white !important

			i
				color azul
				display block
				font-size 75px
				line-height 120px
				vertical-align center

				@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
					font-size 48px !important
					line-height 80px

			img
				display block
				height 75px
				left 50%
				margin-left -38px
				margin-top -38px
				position absolute
				top 50%
				width 75px

				@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
					height 48px !important
					margin-left -24px !important
					margin-top -24px !important
					width 48px !important

		.text
			color white
			font-family "Cronos"
			font-size 18px

			&.blue
				color azul !important

	.iframe
		text-align center
		
		canvas
			height auto !important
			margin 0 auto
			max-height auto
			max-width 700px
			width auto !important

			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				height 100% !important
				width 100% !important

	.sketch
		display block
		margin-bottom 15px
		position relative
		cursor pointer

		&:after
			border-bottom 1px solid #888
			content "line"
			display block
			font-size 0
			height 1px
			margin 5px auto 0
			position absolute
			width 90%

		.photo
			background-positon center
			background-size cover
			border 2px solid #888
			border-radius( 50% )
			display inline-block
			height 80px
			vertical-align top
			width 80px

			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				height 50px
				width 50px

		.stars
			bottom 0
			color amarillo
			font-size 14px
			position absolute
			right 0

		.text
			color #888
			display inline-block
			font-size 16px
			padding-left 1em
			vertical-align top

			.date
				display block
				font-size 0.75em

			.title
				display block
				font-size 1.25em
				font-weight bold

			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				max-width 210px

	.valoration
		background azul
		bottom 0
		box-sizing border-box
		height 60px
		left 0
		padding 10px 25px
		position relative
		text-align center
		top 10px
		width 100%

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			text-align inherit

		.stars
			color white
			display inline-block
			height 40px
			text-align center
			vertical-align top
			width 160px

			label
				display block
				font-size 16px
				padding-bottom 0.5em

			i
				color amarillo
				cursor pointer
				font-size 16px

				&:hover
					text-shadow(0 0 5px amarillo)

		.total
			background celeste
			border-radius( 50% )
			box-sizing border-box
			color white
			display inline-block
			font-size 20px
			font-weight bold
			height 40px
			line-height 1em
			margin-right 20px
			padding 10px 0
			text-align center
			vertical-align top
			width 40px

.textarea
	border 3px solid amarillo
	box-sizing border-box
	color #333
	display block
	font-family "Chronos", sans-serif
	font-size 18px
	line-height 1em
	margin 1em 0
	outline none
	padding 0.75em
	width 97%
	resize none