@font-face {
  font-family: Cronos;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cronos.otf");
}
@font-face {
  font-family: Cronos;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/cronos_italic.otf");
}
@font-face {
  font-family: Cronos;
  font-style: normal;
  font-weight: lighter;
  src: url("fonts/cronos_light.otf");
}
@font-face {
  font-family: Cronos;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/cronospro.otf");
}
@font-face {
  font-family: CronosPro;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cronospro.otf");
}
@font-face {
  font-family: CronosProCaption;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cronosprocaption.otf");
}
@font-face {
  font-family: CronosProCaption;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/cronosprocaption.otf");
}
@font-face {
  font-family: CronosProCaption;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/cronosproboldcaption.otf");
}
@font-face {
  font-family: CronosProDisplay;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cronosprodisplay.otf");
}
@font-face {
  font-family: CronosProDisplay;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/cronosprodisplay.otf");
}
@font-face {
  font-family: CronosProDisplay;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/cronosprobolddisplay.otf");
}
body {
  background-color: #00f;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x repeat-y;
  box-sizing: border-box;
  font-family: "Cronos", sans-serif;
  font-size: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body.light {
  background-color: #fff !important;
  background-image: none !important;
}
footer {
  bottom: 10px;
  color: #fff;
  font-family: "Cronos", sans-serif;
  font-size: 0px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    font-size: 16px;
  }
}
header {
  background-color: #00377b;
  background-image: -webkit-linear-gradient(top, #00377b 0%, #060822 100%);
  background-image: -moz-linear-gradient(top, #00377b 0%, #060822 100%);
  background-image: -ms-linear-gradient(top, #00377b 0%, #060822 100%);
  background-image: -o-linear-gradient(top, #00377b 0%, #060822 100%);
  background-image: linear-gradient(top, #00377b 0%, #060822 100%);
  box-sizing: border-box;
  height: 60px;
  position: relative;
  width: 100%;
  z-index: 3;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header {
    height: 40px;
  }
}
header.blurred {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
header .logo {
  background: url("../images/logo_white.png") center no-repeat;
  background-size: contain;
  height: 90%;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  top: 5%;
  width: 200px;
}
header .menu,
header .search {
  color: #fff;
  cursor: pointer;
  font-size: 40px;
  left: 14px;
  position: absolute;
  top: 14px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header .menu,
  header .search {
    font-size: 24px;
    top: 10px;
  }
}
header .menu .badge,
header .search .badge {
  background: #f00;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 0.5em;
  line-height: 1em;
  padding: 0.2em;
  position: absolute;
  right: -0.5em;
  text-align: center;
  top: -0.25em;
  width: 1em;
}
header .search {
  left: auto;
  right: 14px;
}
h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
  padding: 1em;
}
html {
  height: 100%;
  width: 100%;
}
nav {
  background: rgba(0,55,123,0.8);
  box-sizing: border-box;
  display: none;
  height: 100%;
  left: 0;
  padding: 80px 20px;
  position: absolute;
  top: 0;
  width: 340px;
  z-index: 2;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav {
    background: rgba(255,255,255,0.9);
    width: 100%;
  }
  nav.active {
    -webkit-animation: appear 0.25s 1 linear !important;
    -moz-animation: appear 0.25s 1 linear !important;
    -ms-animation: appear 0.25s 1 linear !important;
    -o-animation: appear 0.25s 1 linear !important;
    animation: appear 0.25s 1 linear !important;
  }
}
nav.active {
  -webkit-animation: showLeft 0.25s 1 linear;
  -moz-animation: showLeft 0.25s 1 linear;
  -ms-animation: showLeft 0.25s 1 linear;
  -o-animation: showLeft 0.25s 1 linear;
  animation: showLeft 0.25s 1 linear;
  display: block;
}
nav.blurred {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  border-bottom: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 20px;
  margin: 0;
  padding: 0.5em;
  position: relative;
  text-align: left;
  -webkit-transition: all ease-in 0.25s;
  -moz-transition: all ease-in 0.25s;
  -ms-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav li {
    border-bottom-color: #333;
    color: #333;
    font-size: 18px;
    text-align: center;
  }
}
nav li:hover {
  padding-left: 1.25em;
}
nav li:last-child {
  border-bottom: none !important;
}
nav li .badge {
  background: #f00;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 1em;
  line-height: 1em;
  padding: 0.2em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0.3em;
  width: 1em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  nav li .badge {
    left: 0;
    right: auto;
  }
}
.block-ui {
  background: rgba(255,255,255,0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.block-ui.active {
  -webkit-animation: appear 0.25s 1 linear;
  -moz-animation: appear 0.25s 1 linear;
  -ms-animation: appear 0.25s 1 linear;
  -o-animation: appear 0.25s 1 linear;
  animation: appear 0.25s 1 linear;
  display: block;
}
.block-ui .spinner {
  height: 40px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}
.block-ui .spinner .sk-cube-grid {
  margin: 0 auto !important;
}
.notifications {
  height: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 11;
}
.notifications .warning {
  -webkit-animation: showTop 0.25s 1 linear;
  -moz-animation: showTop 0.25s 1 linear;
  -ms-animation: showTop 0.25s 1 linear;
  -o-animation: showTop 0.25s 1 linear;
  animation: showTop 0.25s 1 linear;
  background: #ffcb05;
  color: #fff;
  font-size: 16px;
  padding: 1em 2.25em 1em 1em;
  position: relative;
  text-align: justify;
}
.notifications .warning:after {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  content: "\e8a9";
  font-family: "materiald";
  font-size: 14px;
  line-height: 1em;
  margin-top: -0.75em;
  padding: 0.25em;
  position: absolute;
  right: 5px;
  top: 50%;
}
.popup {
  background: rgba(255,255,255,0.95);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.popup.active {
  display: block;
}
.popup.sugerencia .message {
  margin-left: -150px;
  width: 300px;
}
.popup footer {
  bottom: 5%;
  left: 0;
  position: absolute;
  width: 100%;
}
.popup footer button {
  background: #44c8f5;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: "CronosPro", sans-serif;
  font-size: 22px;
  line-height: 1em;
  margin: 10px 10%;
  padding: 0.4em 0.25em;
  width: 80%;
}
.popup footer .tap {
  color: #00377b;
  display: block;
  font-size: 14px;
  line-height: 1em;
  text-align: center;
}
.popup .embajador {
  background: url("../images/embajador.png") center no-repeat;
  background-size: contain;
  left: 50%;
  height: 240px;
  margin-left: -110px;
  margin-top: -110px;
  position: absolute;
  top: 50%;
  width: 120px;
}
.popup .embajador:after {
  background: rgba(0,0,0,0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  bottom: 1.5%;
  content: 'shadow';
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
  height: 3%;
  left: 3%;
  position: absolute;
  width: 70%;
  z-index: -1;
}
.popup .message {
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -125px;
  position: absolute;
  top: 50%;
  width: 150px;
}
.popup .message .big,
.popup .message .min {
  color: #00377b;
  display: block;
  font-family: "CronosPro", sans-serif;
  font-size: 24px;
  line-height: 1em;
  text-align: center;
}
.popup .message .min {
  font-family: "Cronos", sans-serif;
  font-size: 14px;
}
.quiz {
  box-sizing: border-box;
  display: none;
  height: 100%;
  padding-top: 60px;
  position: absolute;
  top: 0;
  width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz {
    padding-top: 40px;
  }
}
.quiz.active {
  display: block;
}
.quiz.blurred {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
.quiz form {
  margin-top: 20px;
  padding: 0 10px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz form {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
.quiz form .checkbox,
.quiz form .radio {
  font-family: "Cronos", sans-serif;
  font-size: 20px;
  margin: 0.5em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz form .checkbox,
  .quiz form .radio {
    font-size: 18px;
  }
}
.quiz form .checkbox:hover,
.quiz form .radio:hover {
  color: #00377b;
}
.quiz form .checkbox input,
.quiz form .radio input {
  display: none;
}
.quiz form .checkbox input:checked ~ span,
.quiz form .radio input:checked ~ span {
  color: #00377b;
}
.quiz form .checkbox input:checked ~ span:before,
.quiz form .radio input:checked ~ span:before {
  font-size: 16px;
}
.quiz form .checkbox label,
.quiz form .radio label {
  cursor: pointer;
  display: block;
}
.quiz form .checkbox span:before,
.quiz form .radio span:before {
  border: 3px solid #ffcb05;
  content: '\e8a6';
  display: inline-block;
  font-family: "materiald";
  font-size: 0px;
  font-weight: bold;
  height: 16px;
  line-height: 14px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 16px;
}
.quiz form .question {
  display: none;
  margin-bottom: 25px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz form .question {
    display: none;
    margin-bottom: 0;
  }
}
.quiz form .question.active {
  display: block;
}
.quiz form .question .number {
  color: #ffcb05;
  display: block;
  font-family: "CronosPro", sans-serif;
  font-size: 16px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz form .question .number {
    font-size: 12px;
  }
}
.quiz form .question .reply {
  color: #555;
  padding-top: 10px;
}
.quiz form .question .title {
  color: #00377b;
  display: block;
  font-family: "CronosPro", sans-serif;
  font-size: 22px;
  line-height: 1.25em;
  margin: 0;
  padding: 0 0.25em 0.25em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz form .question .title {
    font-size: 20px;
  }
}
.quiz form .radio input:checked ~ span {
  color: #00377b;
}
.quiz form .radio input:checked ~ span:before {
  font-size: 36px;
}
.quiz form .radio span:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: '•';
  font-family: "Cronos", sans-serif;
  font-weight: normal;
}
.quiz form .text {
  border: 3px solid #ffcb05;
  border-top: none !important;
  box-sizing: border-box;
  color: #00377b;
  display: block;
  font-family: "Chronos", sans-serif;
  font-size: 18px;
  line-height: 1em;
  outline: none;
  padding: 0.75em;
  margin: 1em 1.5%;
  width: 97%;
  resize: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz form .text {
    font-size: 16px;
    margin: 2em 3%;
    padding: 1em;
    width: 94%;
  }
}
.quiz footer {
  bottom: 0px;
  font-family: "Cronos", sans-serif;
  font-size: 0px;
  margin: 0;
  position: absolute;
  top: auto;
}
.quiz footer .next {
  background: #00377b;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Cronos", sans-serif;
  font-size: 20px;
  line-height: 1em;
  margin: 5%;
  text-align: center;
  padding: 0.5em 1em;
  width: 90%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz footer .next {
    display: block;
  }
}
.quiz h2 {
  color: #00377b;
  font-family: "Cronos", sans-serif;
  font-size: 22px;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz h2 {
    font-size: 16px;
  }
}
.quiz h3 {
  color: #666;
  font-family: "Cronos", sans-serif;
  font-size: 16px;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz h3 {
    font-size: 10px;
  }
}
.quiz header {
  background: #fff;
  border-bottom: 1px solid #00377b;
  height: auto;
  padding: 10px;
  z-index: auto;
}
.quiz header .icon {
  color: #00377b;
  float: left;
  font-size: 32px;
  margin-right: 0.35em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .quiz header .icon {
    font-size: 24px;
  }
}
.searchbar {
  background: #060822;
  box-sizing: border-box;
  display: none;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 9;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .searchbar {
    top: 40px;
  }
}
.searchbar.active {
  -webkit-animation: appear 0.25s 1 linear !important;
  -moz-animation: appear 0.25s 1 linear !important;
  -ms-animation: appear 0.25s 1 linear !important;
  -o-animation: appear 0.25s 1 linear !important;
  animation: appear 0.25s 1 linear !important;
  display: block;
}
.searchbar .submit {
  display: none;
}
.searchbar .text {
  background: #fff;
  border: none;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  box-sizing: border-box;
  font-size: 14px;
  padding: 3px 0.5em;
  width: 100%;
}
.sketch-htmlobjects {
  display: none;
}
.sketch-play-video {
  background: #ffcb05;
  border: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  bottom: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 1em;
  padding: 0.25em;
  position: fixed;
  right: 5px;
  z-index: 9;
}
.sketch-play-video:before {
  content: '\e6bb';
  font-family: "materiald";
}
.sketch-play-video.active:before {
  content: '\e6b8';
}
.springboard {
  box-sizing: border-box;
  display: none;
  font-size: 0;
  margin: 50px auto 0;
  -webkit-transition: all ease-in 0.25s;
  -moz-transition: all ease-in 0.25s;
  -ms-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
  width: 90%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard {
    margin-top: 40px;
  }
}
.springboard.active {
  display: block;
}
.springboard.blurred {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);
}
.springboard .breadcrumb {
  background: #44c8f5;
  box-sizing: border-box;
  color: #fff;
  display: none;
  left: 0;
  margin: 0;
  overflow-x: auto;
  padding: 8px;
  position: absolute;
  top: 60px;
  width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .breadcrumb {
    top: 40px;
  }
}
.springboard .breadcrumb.active {
  display: block;
}
.springboard .breadcrumb li {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 0 0.2em 0;
}
.springboard .breadcrumb li:after {
  color: #ffcb05;
  content: ">";
  padding-left: 0.15em;
}
.springboard .breadcrumb li:last-child:after {
  content: "";
}
.springboard .btn-sugerencia {
  background: #44c8f5;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-family: "CronosPro", sans-serif;
  font-size: 16px;
  line-height: 1em;
  margin: 1em 0 0;
  padding: 0.4em 0.25em;
  width: 100%;
  position: fixed;
  bottom: 60px;
  left: 0;
}
.springboard .button {
  cursor: pointer;
  display: inline-block;
  margin: 0 0 30px;
  text-align: center;
  vertical-align: top;
  width: 50%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .button {
    margin-bottom: 15px;
  }
}
.springboard .button .icon {
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 120px;
  margin: 0 auto 10px;
  position: relative;
  -webkit-transition: all ease-in 0.25s;
  -moz-transition: all ease-in 0.25s;
  -ms-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
  width: 120px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .button .icon {
    height: 80px;
    margin-bottom: 5px;
    width: 80px;
  }
}
.springboard .button .icon:hover {
  -webkit-box-shadow: 0 0 25px rgba(255,255,255,0.5);
  -moz-box-shadow: 0 0 25px rgba(255,255,255,0.5);
  -ms-box-shadow: 0 0 25px rgba(255,255,255,0.5);
  -o-box-shadow: 0 0 25px rgba(255,255,255,0.5);
  box-shadow: 0 0 25px rgba(255,255,255,0.5);
}
.springboard .button .icon:hover i {
  font-size: 85px;
}
.springboard .button .icon:hover img {
  height: 85px;
  margin-left: -43px;
  margin-top: -43px;
  width: 85px;
}
.springboard .button .icon.blue {
  background: #00377b;
}
.springboard .button .icon.blue i {
  color: #fff !important;
}
.springboard .button .icon i {
  color: #00377b;
  display: block;
  font-size: 75px;
  line-height: 120px;
  vertical-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .button .icon i {
    font-size: 48px !important;
    line-height: 80px;
  }
}
.springboard .button .icon img {
  display: block;
  height: 75px;
  left: 50%;
  margin-left: -38px;
  margin-top: -38px;
  position: absolute;
  top: 50%;
  width: 75px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .button .icon img {
    height: 48px !important;
    margin-left: -24px !important;
    margin-top: -24px !important;
    width: 48px !important;
  }
}
.springboard .button .text {
  color: #fff;
  font-family: "Cronos";
  font-size: 18px;
}
.springboard .button .text.blue {
  color: #00377b !important;
}
.springboard .iframe {
  text-align: center;
}
.springboard .iframe canvas {
  height: 100% !important;
  margin: 0 auto;
  max-height: auto;
  max-width: 700px;
  width: 100% !important;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .iframe canvas {
    height: 100% !important;
    width: 100% !important;
  }
}
.springboard .sketch {
  display: block;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
.springboard .sketch:after {
  border-bottom: 1px solid #888;
  content: "line";
  display: block;
  font-size: 0;
  height: 1px;
  margin: 5px auto 0;
  position: absolute;
  width: 90%;
}
.springboard .sketch .photo {
  background-positon: center;
  background-size: cover;
  border: 2px solid #888;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  height: 80px;
  vertical-align: top;
  width: 80px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .sketch .photo {
    height: 50px;
    width: 50px;
  }
}
.springboard .sketch .stars {
  bottom: 0;
  color: #ffcb05;
  font-size: 14px;
  position: absolute;
  right: 0;
}
.springboard .sketch .text {
  color: #888;
  display: inline-block;
  font-size: 16px;
  padding-left: 1em;
  vertical-align: top;
}
.springboard .sketch .text .date {
  display: block;
  font-size: 0.75em;
}
.springboard .sketch .text .title {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .sketch .text {
    max-width: 210px;
  }
}
.springboard .valoration {
  background: #00377b;
  bottom: 0;
  box-sizing: border-box;
  height: 60px;
  left: 0;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  /*top: 10px;*/
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .springboard .valoration {
    text-align: inherit;
  }
}
.springboard .valoration .stars {
  color: #fff;
  display: inline-block;
  height: 40px;
  text-align: center;
  vertical-align: top;
  width: 160px;
}
.springboard .valoration .stars label {
  display: block;
  font-size: 16px;
  padding-bottom: 0.5em;
}
.springboard .valoration .stars i {
  color: #ffcb05;
  cursor: pointer;
  font-size: 16px;
}
.springboard .valoration .stars i:hover {
  -webkit-text-shadow: 0 0 5px #ffcb05;
  -moz-text-shadow: 0 0 5px #ffcb05;
  -ms-text-shadow: 0 0 5px #ffcb05;
  -o-text-shadow: 0 0 5px #ffcb05;
  text-shadow: 0 0 5px #ffcb05;
}
.springboard .valoration .total {
  background: #44c8f5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  line-height: 1em;
  margin-right: 20px;
  padding: 10px 0;
  text-align: center;
  vertical-align: top;
  width: 40px;
}
.textarea {
  border: 3px solid #ffcb05;
  box-sizing: border-box;
  color: #333;
  display: block;
  font-family: "Chronos", sans-serif;
  font-size: 18px;
  line-height: 1em;
  margin: 1em 0;
  outline: none;
  padding: 0.75em;
  width: 97%;
  resize: none;
}
@-moz-keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-o-keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-moz-keyframes showTop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes showTop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@-o-keyframes showTop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes showTop {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@-moz-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#videocanvas {
    /*width:700px !important;*/
    /*height:100px !important; */
    /*position: absolute; */
    /*top: 110px; */
    /*left: 50%; 
    margin-left: -350px;*/
}
.liCanvas {
    width: 100%;
    position: absolute;
}
.liVideoCanvas {
    height: 700px;
}
.ulCanvas {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.show-stars {
    font-size: 32px;
}
@media only screen and (max-width: 800px) {
    .liCanvas {
        width: auto;
    }
    .liCanvas img {
        width: 100%;    
    }
    .ulCanvas {
        width: auto;
        margin: 0;
        padding: 0;
    }
    .liVideoCanvas {
        height: 100px;
    }
}
