/* 
    Created on : Nov 23, 2015, 10:38:14 AM
    Author     : Jose
*/
.sweet-alert.swaltigo button.confirm {
  /*background-color: rgb(0, 188, 212);*/
}
.sweet-alert.swaltigo button.cancel {
  /*background-color: red;*/
}
.dataTables_filter {
   /*display: none;*/
}
div.dataTables_custom_filter {
    text-align: right;
}
div.dataTables_custom_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
div.dataTables_custom_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}