amarillo = #FFCB05
azul = #00377B
celeste = #44C8F5

vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

animation()
	vendor("animation", arguments)

border-radius()
	vendor("border-radius", arguments)

box-shadow()
	vendor("box-shadow", arguments)

text-shadow()
	vendor("text-shadow", arguments)

transition()
	vendor("transition", arguments)

transform()
	vendor("transform", arguments)

transform-origin()
	vendor("transform-origin", arguments)

user-select()
	vendor("user-select", arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	
@font-face
	font-family Cronos
	font-style normal
	font-weight normal
	src url(fonts/cronos.otf)

@font-face
	font-family Cronos
	font-style italic
	font-weight normal
	src url(fonts/cronos_italic.otf)

@font-face
	font-family Cronos
	font-style normal
	font-weight lighter
	src url(fonts/cronos_light.otf)

@font-face
	font-family Cronos
	font-style normal
	font-weight bold
	src url(fonts/cronospro.otf)

@font-face
	font-family CronosPro
	font-style normal
	font-weight normal
	src url(fonts/cronospro.otf)

@keyframes showLeft
	from
		left -100px
		opacity 0
	to
		left 0px
		opacity 1
		
@keyframes appear
	from
		opacity 0
	to
		opacity 1

body
	background-color azul
	background-image url("../images/bg.png")
	background-repeat repeat-x repeat-y
	box-sizing border-box
	font-family "Cronos", sans-serif
	font-size 0
	height 100%
	margin 0
	padding 0
	width 100%

footer
	bottom 10px
	color white
	font-family "Cronos", sans-serif
	font-size 0px
	left 0
	position absolute
	text-align center
	width 100%

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		font-size 16px
	
h1, h2, h3
	font-weight bold
	margin 0
	padding 1em
	
html
	height 100%
	width 100%

#loginbox
	height 670px
	left 50%
	margin-left -200px
	margin-top -335px
	position absolute
	top 50%
	width 400px

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		box-sizing border-box
		left 0
		height 100%
		margin 0 !important
		padding 10px 25px
		position relative
		top 0
		width 100%

	form
		background white
		border-radius( 5px )
		margin-top 25px
		padding 25px

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			background none
			margin-top 0
			padding 0

		.avatar
			background url("../images/avatar-embajador.png") center no-repeat
			background-size contain
			border 1px solid azul
			border-radius( 50% )
			display block
			height 130px
			margin 0 auto 25px
			width 130px

			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				border 2px solid white
				height 100px
				margin 0 auto
				width 100px

		.input-field
			border 2px solid rgba(black,0.25)
			border-bottom-width 0
			display block
			font-size 20px
			padding 0.5em

			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				background white
				border none !important
				border-radius( 5px !important )
				font-size 18px
				margin 10px 0 0 0

			&.bottom
				border-bottom-width 2px
				border-radius( 0 0 5px 5px )

			&.top
				border-radius( 5px 5px 0 0 )

			i
				color rgba(black, 0.5)
				display inline-block
				float left
				font-size 1.25em
				margin-right 10px

			.text
				border none
				color azul
				display inline-block
				font-family "CronosPro", sans-serif
				font-size 1em
				outline none
				transition all ease-in 0.25s
				vertical-align bottom
				width 280px

				@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
					width 200px

			.text:focus ~ i
				color azul

		.submit
			background celeste
			border none
			border-radius( 5px )
			box-sizing border-box
			color white
			cursor pointer
			display block
			font-family "CronosPro", sans-serif
			font-size 24px
			margin-top 15px
			padding 0.5em
			transition all ease-in 0.25s
			width 100%

			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				font-size 20px

			&:hover
				box-shadow( 0 0 15px rgba(celeste, 0.5) )

	.logo
		background url("../images/logo_white.png") center no-repeat
		background-size contain
		height 150px
		width 100%

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			height 90px

	.forgot
		display block
		font-family "CronosPro", sans-serif
		font-size 20px
		margin-top 25px
		text-align center

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			font-family "Cronos", sans-serif
			font-size 16px
			margin-top 10px

		a
			color amarillo
			text-decoration none

			&:hover
				text-decoration underline

.block-ui
	background rgba(255,255,255,0.5)
	display none
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index 9999
	
	&.active
		animation( appear 0.25s 1 linear )
		display block
		
	.spinner
		height 40px
		left 50%
		margin-left -20px
		margin-top -20px
		position absolute
		top 50%
		width 40px

		.sk-cube-grid
			margin 0 auto !important