@font-face {
  font-family: Cronos;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cronos.otf");
}
@font-face {
  font-family: Cronos;
  font-style: italic;
  font-weight: normal;
  src: url("fonts/cronos_italic.otf");
}
@font-face {
  font-family: Cronos;
  font-style: normal;
  font-weight: lighter;
  src: url("fonts/cronos_light.otf");
}
@font-face {
  font-family: Cronos;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/cronospro.otf");
}
@font-face {
  font-family: CronosPro;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/cronospro.otf");
}
body {
  background-color: #00377b;
  background-image: url("../images/bg.png");
  background-repeat: repeat-x repeat-y;
  box-sizing: border-box;
  font-family: "Cronos", sans-serif;
  font-size: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
footer {
  bottom: 10px;
  color: #fff;
  font-family: "Cronos", sans-serif;
  font-size: 0px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    font-size: 16px;
  }
}
h1,
h2,
h3 {
  font-weight: bold;
  margin: 0;
  padding: 1em;
}
html {
  height: 100%;
  width: 100%;
}
#loginbox {
  height: 670px;
  left: 50%;
  margin-left: -200px;
  margin-top: -335px;
  position: absolute;
  top: 50%;
  width: 400px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox {
    box-sizing: border-box;
    left: 0;
    height: 100%;
    margin: 0 !important;
    padding: 10px 25px;
    position: relative;
    top: 0;
    width: 100%;
  }
}
#loginbox form {
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 25px;
  padding: 25px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox form {
    background: none;
    margin-top: 0;
    padding: 0;
  }
}
#loginbox form .avatar {
  background: url("../images/avatar-embajador.png") center no-repeat;
  background-size: contain;
  border: 1px solid #00377b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 130px;
  margin: 0 auto 25px;
  width: 130px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox form .avatar {
    border: 2px solid #fff;
    height: 100px;
    margin: 0 auto;
    width: 100px;
  }
}
#loginbox form .input-field {
  border: 2px solid rgba(0,0,0,0.25);
  border-bottom-width: 0;
  display: block;
  font-size: 20px;
  padding: 0.5em;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox form .input-field {
    background: #fff;
    border: none !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    border-radius: 5px !important;
    font-size: 18px;
    margin: 10px 0 0 0;
  }
}
#loginbox form .input-field.bottom {
  border-bottom-width: 2px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#loginbox form .input-field.top {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#loginbox form .input-field i {
  color: rgba(0,0,0,0.5);
  display: inline-block;
  float: left;
  font-size: 1.25em;
  margin-right: 10px;
}
#loginbox form .input-field .text {
  border: none;
  color: #00377b;
  display: inline-block;
  font-family: "CronosPro", sans-serif;
  font-size: 1em;
  outline: none;
  -webkit-transition: all ease-in 0.25s;
  -moz-transition: all ease-in 0.25s;
  -ms-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
  vertical-align: bottom;
  width: 280px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox form .input-field .text {
    width: 200px;
  }
}
#loginbox form .input-field .text:focus ~ i {
  color: #00377b;
}
#loginbox form .submit {
  background: #44c8f5;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "CronosPro", sans-serif;
  font-size: 24px;
  margin-top: 15px;
  padding: 0.5em;
  -webkit-transition: all ease-in 0.25s;
  -moz-transition: all ease-in 0.25s;
  -ms-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s;
  width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox form .submit {
    font-size: 20px;
  }
}
#loginbox form .submit:hover {
  -webkit-box-shadow: 0 0 15px rgba(68,200,245,0.5);
  -moz-box-shadow: 0 0 15px rgba(68,200,245,0.5);
  -ms-box-shadow: 0 0 15px rgba(68,200,245,0.5);
  -o-box-shadow: 0 0 15px rgba(68,200,245,0.5);
  box-shadow: 0 0 15px rgba(68,200,245,0.5);
}
#loginbox .logo {
  background: url("../images/logo_white.png") center no-repeat;
  background-size: contain;
  height: 150px;
  width: 100%;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox .logo {
    height: 90px;
  }
}
#loginbox .forgot {
  display: block;
  font-family: "CronosPro", sans-serif;
  font-size: 20px;
  margin-top: 25px;
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #loginbox .forgot {
    font-family: "Cronos", sans-serif;
    font-size: 16px;
    margin-top: 10px;
  }
}
#loginbox .forgot a {
  color: #ffcb05;
  text-decoration: none;
}
#loginbox .forgot a:hover {
  text-decoration: underline;
}
.block-ui {
  background: rgba(255,255,255,0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.block-ui.active {
  -webkit-animation: appear 0.25s 1 linear;
  -moz-animation: appear 0.25s 1 linear;
  -ms-animation: appear 0.25s 1 linear;
  -o-animation: appear 0.25s 1 linear;
  animation: appear 0.25s 1 linear;
  display: block;
}
.block-ui .spinner {
  height: 40px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}
.block-ui .spinner .sk-cube-grid {
  margin: 0 auto !important;
}
@-moz-keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-o-keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@keyframes showLeft {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}
@-moz-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=login.css.map */