amarillo = #FFCB05
azul = #00377B
celeste = #44C8F5

vendor(prop, args)
	-webkit-{prop} args
	   -moz-{prop} args
	    -ms-{prop} args
	     -o-{prop} args
	        {prop} args

animation()
	vendor("animation", arguments)

border-radius()
	vendor("border-radius", arguments)

box-shadow()
	vendor("box-shadow", arguments)

filter()
	vendor("filter", arguments)

text-shadow()
	vendor("text-shadow", arguments)

transition()
	vendor("transition", arguments)

transform()
	vendor("transform", arguments)

transform-origin()
	vendor("transform-origin", arguments)

user-select()
	vendor("user-select", arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	
@font-face
	font-family Cronos
	font-style normal
	font-weight normal
	src url(fonts/cronos.otf)

@font-face
	font-family Cronos
	font-style italic
	font-weight normal
	src url(fonts/cronos_italic.otf)

@font-face
	font-family Cronos
	font-style normal
	font-weight lighter
	src url(fonts/cronos_light.otf)

@font-face
	font-family Cronos
	font-style normal
	font-weight bold
	src url(fonts/cronospro.otf)

@font-face
	font-family CronosPro
	font-style normal
	font-weight normal
	src url(fonts/cronospro.otf)

@font-face
	font-family ZenzaiItacha
	font-style normal
	font-weight normal
	src url(fonts/Zenzai Itacha.ttf)

@keyframes showAppear
	from
		opacity 0
		transform( scale(0.5) )
	to
		opacity 1
		transform( scale(1) )
		
@keyframes showLeft
	from
		left -100px
		opacity 0
	to
		left 0px
		opacity 1

@keyframes appear
	from
		opacity 0
	to
		opacity 1

body
	background-color #DDD
	// background-image url("../images/bg.png")
	background-repeat repeat-x repeat-y
	box-sizing border-box
	font-family "Cronos", sans-serif
	font-size 0
	height 100%
	margin 0
	padding 0
	width 100%
	
	&.light
		background-color white !important
		background-image none !important

footer
	bottom 10px
	color white
	font-family "Cronos", sans-serif
	font-size 0px
	left 0
	position absolute
	text-align center
	width 100%

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		font-size 16px

header
	background-linear-gradient(top, azul, 0%, #060822, 100%)
	box-sizing border-box
	height 60px
	position relative
	width 100%
	z-index 3

	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		height 40px
		
	&.blurred
		filter( blur(10px) )

	.logo
		background url("../images/logo_white.png") center no-repeat
		background-size contain
		height 90%
		left 50%
		margin-left -100px
		position absolute
		top 5%
		width 200px

	.menu
		color white
		cursor pointer
		font-size 40px
		left 14px
		position absolute
		top 14px

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			font-size 24px
			top 10px

		.badge
			background red
			border-radius( 50% )
			color white
			font-size 0.5em
			line-height 1em
			padding 0.2em
			position absolute
			right -0.5em
			top -0.25em
			width 1em
	
h1, h2, h3
	font-weight bold
	margin 0
	padding 1em
	
html
	height 100%
	width 100%
	
nav
	background rgba(azul, 0.65)
	box-sizing border-box
	display none
	height 100%
	left 0
	padding 80px 20px
	position absolute
	top 0
	width 340px
	z-index 2
	
	@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
		background rgba(white, 0.9)
		width 100%
		
	&.active
		display block
		
	&.blurred
		filter( blur(10px) )

	ul
		margin 0
		padding 0

	li
		border-bottom 1px solid white
		color white
		cursor pointer
		display block
		font-size 20px
		margin 0
		padding 0.5em
		position relative
		text-align left
		transition all ease-in 0.25s
		
		@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
			border-bottom-color #333
			color #333
			font-size 18px
			text-align center
			
		&:hover
			padding-left 1.25em

		&:last-child
			border-bottom none !important

		.badge
			background red
			border-radius( 50% )
			color white
			font-size 1em
			line-height 1em
			padding 0.2em
			position absolute
			right 0
			text-align center
			top 0.3em
			width 1em
			
			@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
				left 0
				right auto

#canvas
	background white
	border 1px solid #AAA
	box-shadow( 2px 2px 5px rgba(black,0.25) )

#bd-wrapper
	font-size 14px

.block-ui
	background rgba(255,255,255,0.5)
	display none
	height 100%
	left 0
	position fixed
	top 0
	width 100%
	z-index 9999
	
	&.active
		animation( appear 0.25s 1 linear )
		display block
		
	.spinner
		height 40px
		left 50%
		margin-left -20px
		margin-top -20px
		position absolute
		top 50%
		width 40px

		.sk-cube-grid
			margin 0 auto !important
		
.modal
	background white
	border-radius( 5px )
	box-shadow( 2px 2px 15px rgba(black, 0.5) )
	display none
	height 400px
	left 50%
	margin-left -250px
	margin-top -200px
	opacity 0
	position fixed
	top 50%
	width 500px
	z-index 999
	
	&.active
		animation showAppear 0.25s ease-in-out
		display block
		opacity 1
	
	form
		padding 25px
		
		>div
			padding 10px 0
		
		label
			color black
			display inline-block
			font-size 18px
			width 180px
			
			&:after
				content ":"
				
		.chosen-container-multi
			width 230px !important
			
		.text
			background white
			border none
			border-radius( 5px )
			box-shadow( 0 0 5px rgba(black, 0.75) )
			box-sizing border-box
			color black
			display inline-block
			font-family "Cronos", sans-serif
			font-size 18px
			outline none
			padding 0.5em 1em
			width 230px
	
	h2
		background azul
		border-radius( 5px 5px 0 0 )
		color white
		display block
		font-size 20px
		line-height 0.5em
		padding 1em
		text-align center
		
	.close
		background white
		border-radius( 50% )
		color azul
		cursor pointer
		display block
		font-size 16px
		padding 0.25em
		position absolute
		right 10px
		top 10px
		width 1em
		
	.footer
		background #EAEAEA
		bottom 0
		box-shadow( 0 2px 6px rgba(black, 0.25) inset )
		box-sizing border-box
		left 0
		padding 15px
		position absolute
		text-align center
		width 100%
		
		button
			background celeste
			border none
			border-radius( 0.3em )
			color white
			cursor pointer
			display inline-block
			font-size 18px
			line-height 1em
			margin 0 1em
			outline none
			padding 0.5em 1em
			
			&.no
				background black
				
	.inner
		height 280px
		overflow-y auto
		
.sketch-controls
	background none
	box-sizing border-box
	height 100%
	padding 1%
	position absolute
	right 0
	top 0
	width 300px
	
.sketch-htmlobjects
	display none;
	
.sketch-multimedia
	font-size 0
	height 580px
	margin-top -290px
	
	ul
		margin 0
		padding 0
	
		li
			box-shadow( 0 0 1px 1px rgba(black, 0.5) )
			box-sizing border-box
			cursor pointer
			display inline-block
			margin 10px 5%
			opacity 0.75
			padding 5px
			position relative
			transition all 0.25s ease-in-out
			width 40%
			
			&:hover
				box-shadow( 0 0 10px 1px rgba(black, 0.5) )
				
			&.active
				box-shadow( 0 0 10px 1px rgba(black, 0.5) )
				opacity 1
				
				&:after
					background celeste
					border-radius( 50% )
					box-shadow( 0 0 10px 1px rgba(black, 0.5) )
					color white
					content "\e8a6"
					font-family "materiald"
					font-size 16px
					line-height 1em
					padding 0.5em
					position absolute
					top 0.5em
					right 0.5em
					width 1em
			
			img
				height 100%
				width 100%
				
			
	.inner
		height 460px
	
.sketch-panel
	background azul
	border none
	border-radius( 0 )
	box-shadow( 0 2px 6px rgba(black,0.35) inset )
	color white
	height 600px
	left 0px
	position fixed
	right auto
	text-align center
	top 100px
	width 74px
	z-index 99
	
	&.right
		left auto
		right 0
		
		button
			display inline-block
		
	&.tools
		text-align left
		width 240px
		
		label
			display inline-block
			width 60px
		
		.color
			margin 5px 20px
			padding 5px 0
		
		.colorpick
			border 2px solid white
			border-radius( 0.25em )
			color white
			cursor pointer
			display inline-block
			margin-left 5px
			outline none
			padding 0.25em 0.5em
			vertical-align middle
			width 80px
			
		.seek
			background rgba(black, 0.25)
			padding 10px 20px
			
		
	&.top
		background azul
		border-radius( 0 )
		box-shadow( 0 2px 6px rgba(black,0.35) inset )
		height 50px
		left 0
		padding 5px 10px
		text-align left
		top 40px
		width 100%
		
		button
			display inline-block
			margin 0 0.1em
		
	button
		background rgba(black, 0)
		border none
		border-radius( 5px )
		color rgba(white, 0.8)
		cursor pointer
		display block
		font-size 32px
		line-height 1em
		margin 0.2em auto
		
		&:disabled
			cursor block
			opacity 0.5
		
		&:hover
			background rgba(black, 0.5)
			box-shadow( 1px 1px 4px rgba(black, 0.25) )
			
		.label
			display block
			font-size 10px
			line-height 1em
	
.sketch-status
	background azul
	box-sizing border-box
	color white
	font-size 12px
	height 40px
	left 0
	padding 0 2em
	position fixed
	text-align left
	top 0
	width 100%
	z-index 99
	
	button
		background rgba(black, 0.5)
		border none
		color white
		cursor pointer
		display inline-block
		font-size 20px
		line-height 1em
		margin 0 1em
		padding 0.5em
		vertical-align middle
		
		span
			font-size 0.75em
	
	div
		display inline-block
		margin 0.75em
		vertical-align middle
		
	.colorpick
		border 2px solid white
		border-radius( 10px )
		cursor pointer
		display inline-block
		font-size 0
		height 16px
		margin-left 5px
		outline none
		vertical-align middle
		width 16px
		
	.input
		background rgba(black, 0.25)
		border 1px solid rgba(black, 0.5)
		color white
		display inline-block
		margin-left 0.25em
		padding 0.25em 0.75em
		text-align center
		width 2em
		
	.logo
		background url("../images/logo_white.png") center no-repeat
		background-size contain
		height 80%
		margin 5px 1em
		position absolute
		right 0
		top 0
		width 12em
		
	.text
		outline none
		
.sketch-textcontrols
	border-top 1px solid rgba(white, 0.25)
	font-size 14px
	margin-top 1em
	
	label
		display block !important
		padding 0.25em 0 0.5em
		width auto !important
	
	.font
		padding 10px
	
	.format
		background rgba(black, 0.25)
		text-align center
		
		button
			font-size 18px
	
	.text
		border 0
		box-sizing border-box
		outline none
		padding 1em
		resize none
		width 100%

.sketch-wrapper
	box-sizing border-box
	height 100%
	left 0
	overflow-y auto
	padding 130px 250px 30px 100px
	position fixed
	text-align center
	top 0
	width 100%
	
	.canvas-container
		height 600px
		margin 0 auto
		width 700px