<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Agregar Grupo</h4>
  </div>
  <div class="modal-body">
    <form name="addGroupForm" novalidate>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="add_group_name">Nombre</label>
            <input type="text" class="form-control" id="add_group_name" ng-model="group.name" placeholder="Nombre">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save(group)">Agregar</button>
    <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
  </div>
</div>
