<div class="horizontal-scroll">
  <div class="add-row-editable-table">
    <button class="btn btn-primary" ui-sref="wizard">Agregar Lienzo</button>
  </div>
  <div class="form-group select-page-size-wrap">
    <label>Filas
      <select class="form-control selectpicker show-tick" title="Filas" selectpicker ng-model="tableRowSize" ng-options="i for i in [5,10,15,20,25]"></select>
    </label>
  </div>
  <table class="table" st-table="tableData" st-safe-src="safeTableData">
    <thead>
      <tr class="sortable">
        <th class="table-id" st-sort="$index" st-sort-default="true">#</th>
        <th st-sort="name">Nombre</th>
        <th st-sort="tags">Etiquetas</th>
        <th st-sort="date">Fecha</th>
        <th>Acciones</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <input st-search="name" placeholder="Buscar nombre" class="input-sm form-control search-input" type="search"/>
        </th>
        <th>
          <input st-search="tags" placeholder="Buscar etiquetas" class="input-sm form-control search-input" type="search"/>
        </th>
        <th>
          <input st-search="date" placeholder="Buscar fecha" class="input-sm form-control search-input" type="search"/>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in tableData" class="editable-row">
        <td class="table-id">{{$index}}</td>
        <td>{{item.name}}</td>
        <td>{{showTags(item.tags)}}</td>
        <td>{{item.date | date:'medium'}}</td>
        <td>
          <div class="buttons">
            <button class="btn btn-primary btn-xs" ui-sref="wizard({id: item.id})">Editar</button>
            <button class="btn btn-success btn-xs" ui-sref="wizard({id: item.id, dup: 1})">Duplicar</button>
            <button class="btn btn-danger btn-xs" ng-click="remove(item)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="tableRowSize" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
