<div class="horizontal-scroll">
  <div class="add-row-editable-table">
    <button class="btn btn-primary" ng-click="add()">Agregar Miembro</button>
  </div>
  <div class="form-group select-page-size-wrap ">
    <label>Filas
      <select class="form-control selectpicker show-tick" title="Filas" selectpicker ng-model="tableRowSize" ng-options="i for i in [5,10,15,20,25]"></select>
    </label>
  </div>
  <table class="table" st-table="tableData" st-safe-src="safeTableData">
    <thead>
      <tr class="sortable">
        <th class="table-id" st-sort="$index" st-sort-default="true">#</th>
        <th st-sort="fullName">Nombre</th>
        <th st-sort="nickname">Nickname</th>
        <th st-sort="role.name">Rol</th>
        <th st-sort="email">Email</th>
        <th st-sort="status.name">Status</th>
        <th>Acciones</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <input st-search="fullName" placeholder="Buscar nombre" class="input-sm form-control search-input" type="search"/>
        </th>
        <th>
          <input st-search="nickname" placeholder="Buscar nickname" class="input-sm form-control search-input" type="search"/>
        </th>
        <th>
          <input st-search="role.name" placeholder="Buscar rol" class="input-sm form-control search-input" type="search"/>
        </th>
        <th>
          <input st-search="email" placeholder="Buscar email" class="input-sm form-control search-input" type="search"/>
        </th>
        <th>
          <input st-search="status.name" placeholder="Buscar status" class="input-sm form-control search-input" type="search"/>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in tableData" class="editable-row">
        <td class="table-id">{{$index}}</td>
        <td>{{item.fullName}}</td>
        <td>{{item.nickname}}</td>
        <td class="select-td">{{showRole(item)}}</td>
        <td><a class="email-link" ng-href="mailto:{{item.email}}">{{item.email}}</a></td>
        <td>{{showStatus(item)}}</td>
        <td>
          <div class="buttons">
            <button class="btn btn-danger btn-xs" ng-click="remove(item)">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-center">
          <div st-pagination="" st-items-by-page="tableRowSize" st-displayed-pages="5"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
