<div class="row">
  <div class="col-md-3" ba-panel ba-panel-class="with-scroll">
    <div class="button-wrapper"><button type="button" class="btn btn-default" ui-sref="wizard">Nuevo</button></div>
    <div class="button-wrapper"><button type="button" class="btn btn-primary" ui-sref="wizard({id: 1, action: edit})">Editar</button></div>
    <div class="button-wrapper"><button type="button" class="btn btn-success">Eliminar</button></div>
  </div>
</div>
